youtube_trend_detector.json
{
  "name": "youtube trend detector",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -220
      ],
      "id": "6e3f4ec2-09d2-4a65-968f-8a07920e343b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XEszuKbyMtdqTu5x_WjDKjpWtTUhz9RJzkf1AW36Caw",
          "mode": "list",
          "cachedResultName": "youtube trend detector",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XEszuKbyMtdqTu5x_WjDKjpWtTUhz9RJzkf1AW36Caw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "channel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XEszuKbyMtdqTu5x_WjDKjpWtTUhz9RJzkf1AW36Caw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        0
      ],
      "id": "b458c9d9-a1db-47fe-a4f0-688c333fdd2c",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xJkaDxg0LUPLRNzL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 4,
        "filters": {
          "channelId": "={{ $json.channel_id }}"
        },
        "options": {
          "order": "date"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        720,
        220
      ],
      "id": "1bc0116c-7ec6-46b5-8388-d71dc3ed07cc",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "wsYX59bdwBruu9Ge",
          "name": "YouTube account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.id.videoId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1000,
        220
      ],
      "id": "cd34e982-b92f-48f4-9816-e7098b5d1fff",
      "name": "YouTube1",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "wsYX59bdwBruu9Ge",
          "name": "YouTube account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9b3862a-e363-468f-9872-0a4f99fd73ef",
              "leftValue": "={{ $json.contentDetails.duration.length }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1260,
        220
      ],
      "id": "3f1458fd-c876-4772-80a9-cadef8cf3bd8",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1XEszuKbyMtdqTu5x_WjDKjpWtTUhz9RJzkf1AW36Caw",
          "mode": "list",
          "cachedResultName": "youtube trend detector",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XEszuKbyMtdqTu5x_WjDKjpWtTUhz9RJzkf1AW36Caw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.snippet.channelId }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "published_at": "={{ $json.snippet.publishedAt }}",
            "title": "={{ $json.snippet.title }}",
            "views": "={{ $json.statistics.viewCount }}",
            "likes": "={{ $json.statistics.likeCount }}",
            "comments": "={{ $json.statistics.commentCount }}",
            "favorites": "={{ $json.statistics.favoriteCount }}",
            "description": "={{ $json.snippet.description }}",
            "tags": "={{ $json.snippet.tags }}",
            "duration": "= {{ \n(parseInt($json.contentDetails.duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/)[1] || 0) * 60*60)+(parseInt($json.contentDetails.duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/)[2] || 0) * 60) + \n  parseInt($json.contentDetails.duration.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/)[3] || 0) \n}}",
            "defination": "={{ $json.contentDetails.definition }}",
            "small_tumb": "={{ $json.snippet.thumbnails.default.url }}",
            "med_tumb": "={{ $json.snippet.thumbnails.medium.url }}",
            "large_tumb": "={{ $json.snippet.thumbnails.high.url }}",
            "standard_tumb": "={{ $json.snippet.thumbnails.standard.url }}",
            "channel_title": "={{ $json.snippet.channelTitle }}",
            "emmeb_html": "={{ $json.player.embedHtml }}",
            "channel_id": "={{ $json.snippet.channelId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "published_at",
              "displayName": "published_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "views",
              "displayName": "views",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "favorites",
              "displayName": "favorites",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "defination",
              "displayName": "defination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "small_tumb",
              "displayName": "small_tumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "med_tumb",
              "displayName": "med_tumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "large_tumb",
              "displayName": "large_tumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "standard_tumb",
              "displayName": "standard_tumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel_title",
              "displayName": "channel_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emmeb_html",
              "displayName": "emmeb_html",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1540,
        220
      ],
      "id": "92d9be25-18de-45af-a9ad-14a6238c31fd",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xJkaDxg0LUPLRNzL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "32bf3a0a-3ef9-40ec-9104-3f351e0a0609",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -20,
        140
      ],
      "id": "f623ec6e-ee68-47a7-97a5-0b5266347df2",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "YouTube1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb2cd464-6d98-4429-af0a-9c1262842808",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "742b688c7904cdb914a69abcb0249fee1e0f10a2de0703d6fe1c4de35ef3f4a6"
  },
  "id": "3iWM46QCLrWZONlo",
  "tags": [
    {
      "name": "n8h course",
      "id": "SWInBQeR67ZdKFDP",
      "createdAt": "2025-05-12T07:01:24.349Z",
      "updatedAt": "2025-05-12T07:01:24.349Z"
    }
  ]
}